@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body	{
	margin: 0;
	background-color: var(--background);
	color: var(--text);
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	transition: background-color 1s;
}
a	{
	color: inherit;
	text-decoration: none;
}
.loading	{
	display: flex;
	margin: auto;
	height: 6em;
}
*	{
	transition: background-color 0.5s, color 0.5s;
}

header	{
	display: flex;
	justify-content: space-between;
	padding: 0% 4%;
	transition: background-color 1s, color 1s;
}
header ul	{
	display: flex;
	flex-direction: row;
	width: 50%;
	padding: 0;
	align-items: flex-end;
}
header ul li	{
	text-decoration: none;
	list-style: none;
	margin: 0 10px;
}
.info-container > li:first-child	{
	margin-bottom: auto;
}
.pfp-container	{
	justify-content: flex-start;
	user-select: none;
	align-items: center;
}
.misc-container, .info-container	{
	justify-content: flex-end;
}
.posts-container, .pfp-container	{
	flex-direction: row;
}
.total-post-container, .rank-container, .info-container	{
	flex-direction: column;
}

.username, .sticky-username, .ranking, .total-posts, .no-post-notice, .about-header	{
	font-size: 32px;
	font-weight: bold;
}
.status	{
	margin-bottom: 12px;
}
.total-posts-header, .ranking-header, .first-posted-header, .last-posted-header	{
	font-weight: bold;
}

main   {
	padding: 10px calc(4% + 10px);
}
.pfp img	{
	width: 170px;
	height: 170px;
}
.post-dist-container	{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	margin: auto;
}
.post-dist-bar	{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 25%;
	user-select: none;
}
@media only screen and (max-width: 1200px)   {
	.post-dist-bar    {
		width: 50%;
	}
}
.post-dist-bar ul	{
	text-align: right;
	padding: 0;
	margin: 0;
}
.post-dist-bar li	{
	text-decoration: none;
	list-style: none;
}
.post-dist-bar > li	{
	padding-left: 3px;
}
.post-dist-bar li	{
	padding-right: 3px;
	margin: 3px 0;
}
.post-dist-bar li:first-child	{
	font-weight: bold;
}
.misc-container li, .total-posts-header, .scratch-link, .ocular-link	{
	white-space: nowrap;
}
.total-post-container	{
	text-align: right;
}
.main-header	{
	position: absolute;
	width: calc(92%);
	z-index: 1;
}
.sticky-header	{
	list-style: none;
	text-decoration: none;
	position: sticky;
	top: calc(3em + 1px);
	padding: 5px calc(4% + 10px);
	align-items: center;
	z-index: 0;
}
.sticky-pfp img	{
	width: 3em;
	height: 3em;
}
#compensator	{
	height: 170px;
}
.category-header-left	{
	font-size: 32px;
	font-weight: bold;
}
@media only screen and (max-width: 720px)   {
	.username, .ranking, .total-posts	{
		font-size: inherit;
		font-weight: bold;
	}
	.info-container	{
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
		width: 100%;
	}
	.pfp img	{
		width: 90px;
		height: 90px;
	}
	.pfp-container	{
		align-items: flex-start;
	}
	.misc-container li, .total-posts-header	{
		white-space: normal;
	}
	.misc-container	{
		width: 100%;
	}
	.header-external-icon	{
		display: none;
	}
	.scratch-link, .ocular-link	{
		text-decoration: underline;
	}
	.total-post-container, .rank-container	{
		flex-direction: row;
		justify-content: flex-end;
	}
	.posts-container	{
		flex-direction: row;
		width: 100%;
	}
	header, .sticky-header	{
		top: calc(5em + 8px);
	}
	#compensator	{
		height: 100px;
	}
}
@media only screen and (max-width: 400px)   {
	.pfp-container	{
		display: none;
	}
	.post-dist-bar    {
		width: 100%;
	}
	.info-container, .posts-container, .misc-container, .total-post-container, .rank-container	{
		justify-content: center;
		text-align: center;
	}
	header, .sticky-header	{
		top: calc(10em + 8px);
	}
}
header ul:nth-child(1)	{
	justify-content: flex-start;
}
header ul:nth-child(2)	{
	justify-content: flex-end;
}
#header-forum-category, #graph-navigation li    {
	/* cursor: pointer; */
}
#header-forum-category	{
	font-size: 32px;
	font-weight: bold;
	user-select: none;
}
#wrapper {position: sticky; top: calc(3em + 2px); z-index: 996; width: 100%;}
@media only screen and (max-width: 720px)   {
	#header-forum-category	{
		font-size: inherit;
	}
	#wrapper    {
		top: calc(5em + 8px);
	}
}
.page-link:hover    {
	cursor: pointer;
}
#logo {
	font-family: 'Noto Sans JP', Arial, Helvetica, sans-serif;
	white-space: nowrap;
}
.clickable {
	cursor: pointer;
}